:root {
  --white: #ffffff;
  --pink: #ef2779;
  --light_gray: #e2e3e5;
  --sky_blue: #38a3f1;
  --black: #000000;
  --gray: #9fa2a5;
  --gray_dark: #d8d8d8;
  --light_gray: #dedede;
  --dark_blue: #252b42;
  --light_light_gray: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
input::placeholder,
textarea::placeholder {
  color: rgb(80, 80, 80);
  font-family: Roboto;
}
body {
  position: relative;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
.section_1 {
  position: relative;
  width: 100%;
  overflow: visible;
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
}
.background img {
  position: absolute;
  width: 100%;
  z-index: -1;
  background-blend-mode: color-burn;
}
.background img:nth-child(1) {
  top: 50px;
}
.nav_con {
  width: 100%;
  height: 100px;
}
.nav_con header {
  width: 100%;
  height: 100px;
}
.nav_con header nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_con header nav .logo {
  margin-left: 25px;
  margin-right: 10%;
}
.nav_con header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 50px;
  width: 100%;
}
.nav_con header nav li {
  width: 100px;
}
.nav_con header nav a {
  text-decoration: none;
  color: var(--white);
}
.nav_con header nav form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 30px;
}
.nav_con header nav form input {
  outline: none;
  background: var(--white);
  border: none;
  height: 40px;
  width: 200px;
  padding: 0 25px 0 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.nav_con header nav form button {
  color: var(--pink);
  font-weight: 700;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: var(--white);
}
.sub_section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}
.img_con_1 {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 25px;
  background: white;
  border-radius: 0 4px 0 0;
  box-shadow: 0px 9.86057px 19.7211px rgba(0, 0, 0, 0.16),
    0px 9.86057px 131.474px rgba(0, 0, 0, 0.23);
}
.img_con_1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: var(--light_gray);
  border-radius: 0px 4px 0 0;
}
.img_con_1 div span {
  width: 680px;
  height: 15px;
  background: var(--white);
  border-radius: 4px;
}
.content_con_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 130px;
}
.content_con_1 h1 {
  color: var(--white);
  font-size: 55px;
  line-height: 65px;
}
.content_con_1 h4 {
  color: var(--white);
  font-size: 13px;
  line-height: 20px;
}
.content_con_1 h4:nth-child(3) {
  margin-top: 40px;
}
.content_con_1 button {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: var(--white);
  color: var(--sky_blue);
  font-weight: 700;
  margin-top: 40px;
}
.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.content_con_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content_con_2 p:nth-child(1) {
  font-weight: 700;
}
.content_con_2 h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 65px;
}
.content_con_2 p:nth-child(3),
.content_con_2 p:nth-child(4) {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
.content_con_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content_con_3 .card_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 265px;
  padding-left: 35px;
}
.card_sub_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card_sub {
  display: flex;
  flex-direction: column;
}
.card_sub h1 {
  margin-left: 10px;
  font-size: 20px;
}
.card_1 p:nth-child(2) {
  margin-top: 20px;
}
.card_1 p {
  font-size: 15px;
  line-height: 27px;
}
.section_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.sub_section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_2 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
}
.sub_section_2 h1:nth-child(2) {
  margin-bottom: 40px;
}
.sub_section_2 p {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}
.sub_section_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.sub_section_3 button {
  outline: none;
  color: var(--white);
  border: none;
  background: var(--sky_blue);
  width: 150px;
  height: 40px;
  border-radius: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.sub_section_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.img_con_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.macbook_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 570px;
  padding-bottom: 35px;
  background: var(--black);
  border: 10px solid var(--gray);
  border-radius: 25px 25px 0 0;
  border-bottom: none;
}
.macbook_2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1020px;
  height: 20px;
  background: var(--gray_dark);
  margin-top: -20px;
}
.macbook_sub_1 {
  width: 140px;
  height: 13px;
  background: var(--gray);
  border-radius: 0 0 30px 30px;
}
.macbook_3 {
  width: 1020px;
  height: 12px;
  background: var(--gray);
  border-radius: 0 0 25px 25px;
}
.section_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
  margin-top: 100px;
}
.sub_section_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_5 p {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  color: var(--white);
}
.sub_section_5 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  color: var(--white);
  margin-top: 15px;
}
.sub_section_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}
.sub_section_6 h1 {
  font-size: 18px;
  color: var(--white);
}
.sub_section_6 p {
  color: var(--white);
  margin-top: 15px;
}
.sub_section_6 form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.sub_section_6 form input {
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 25px 0 25px;
}
.sub_section_6 form button {
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: var(--pink);
  color: var(--white);
  margin-top: 10px;
}
.section_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.sub_section_7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_7 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  margin-bottom: 40px;
}
.sub_section_7 p {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
}
.sub_section_8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.content_con_4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px;
}
.card_2 h1 {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 25px;
}
.img_con_4 {
  margin-bottom: 25px;
}
.card_2 p {
  font-size: 15px;
  line-height: 27px;
}
.sub_section_9 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_section_9 button {
  outline: none;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  color: var(--white);
  background: var(--sky_blue);
  margin-top: 20px;
}
.section_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}
.sub_section_10 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  margin-bottom: 40px;
}
.sub_section_11 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img_con_5 {
  margin-top: 35px;
  margin-bottom: 40px;
}
.sub_section_11 p {
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}
.content_con_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.img_con_6 img {
  width: 50px;
  height: 50px;
}
.content_sub_con_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15px;
}
.content_sub_con_1 h1 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.content_sub_con_1 p {
  font-size: 15px;
  line-height: 27px;
  font-weight: normal;
}
.sub_section_12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.sub_section_12 button {
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  color: var(--white);
  background: var(--sky_blue);
  margin-top: 20px;
}
.section_7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_13 {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_13 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  margin-bottom: 40px;
}
.sub_section_13 p {
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}
.sub_section_14 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_con_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card_3 {
  width: 335px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: 1px solid var(--light_gray);
  margin: 25px;
  padding: 40px;
}
.card_3 h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.card_3 p {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.content_sub_con_2 {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 20px;
}
.content_sub_con_2 h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
}
.content_sub_sub_con_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.content_sub_sub_con_1 h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.content_sub_sub_con_1 p {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.card_3 button {
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  color: var(--white);
  background: var(--sky_blue);
  margin-top: 20px;
}
.card_3:nth-child(3) {
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
  color: var(--white);
}
.card_3:nth-child(3) button {
  background: var(--white);
  color: var(--pink);
}
.section_8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  background: var(--dark_blue);
  color: var(--white);
}
.sub_section_15 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub_section_15 h1 {
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  margin-top: 70px;
  margin-bottom: 40px;
}
.sub_section_15 p {
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}
.sub_section_16 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.content_con_7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_con_7 form {
  width: 400px;
  height: 430px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  border-radius: 10px;
}
.content_con_7 form input {
  outline: none;
  width: 325px;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 25px 0 25px;
  background: var(--light_light_gray);
  border: 1px solid var(--light_gray);
}
.content_con_7 form input:nth-child(1) {
  margin-top: 30px;
}
.content_con_7 form textarea {
  resize: none;
  outline: none;
  width: 325px;
  height: 120px;
  border: none;
  padding: 15px 25px 25px 25px;
  background: var(--light_light_gray);
  border: 1px solid var(--light_gray);
  border-radius: 2px;
}
.button_con_1 {
  display: flex;
  width: 325px;
  height: 35px;
  margin-bottom: 20px;
}
.button_con_1 button {
  outline: none;
  border: none;
  border-radius: 25px;
  background: var(--pink);
  color: var(--white);
  width: 100px;
  height: 35px;
}
.content_con_8 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 50px;
}
.content_sub_con_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.img_con_7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_sub_sub_con_2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.content_sub_con_4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.content_sub_con_4 .img_con_10 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_sub_con_4 .img_con_10 img {
  margin: 15px;
  cursor: pointer;
}
.section_9 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sub_section_17 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.sub_section_17 h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}
.sub_section_17 p {
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  margin-top: 20px;
}
.sub_section_19 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.content_sub_con_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.content_sub_sub_con_3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.content_sub_con_6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.img_con_11 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_con_11 img {
  margin: 15px;
  cursor: pointer;
}
